
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2) no-repeat center fixed;
    margin: 20px;
}
header , nav {
    display: flex;
    justify-content: center
}
nav a {
    padding: 5px;
}
form, table {
    width: 100%;
    max-width: 850px;
    margin: 20px auto;
    background: linear-gradient(135deg, #ffffff, #eef2f3);
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="number"],
textarea,
select {
    width: 95%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    background: #fafafa;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: border-color 0.3s ease;
}
select{
    width: 98% !important;
}
input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
    border-color: #7dbaee;
}

button {
    background: linear-gradient(135deg, #343a40, #5a6268);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

button:hover {
    background: linear-gradient(135deg, #ffffff, #f3f6f7);
    color: #333;
}

a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Table Styling */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background: linear-gradient(135deg, #343a40, #5a6268);
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

td {
    background: linear-gradient(135deg, #ffffff, #f3f6f7);
}

/* Responsive Layout */
@media (max-width: 600px) {
    form, table {
        padding: 15px;
    }

    label, input, textarea, select, button {
        font-size: 14px;
    }
}
